/**
 *
 * app.scss 文件作用
 * @author hurong<353486474@QQ.COM>
 * @date 2017/3/24
 *
 * @内容 作用
 * @内容 作用 
 */

div.Chart_List {
  min-height: 100vh;
  width: 100%;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .charts_flex {
    width: 30%;
    height: 50vh;
    margin: 30px 0 0 0;
    background-color: darkgray
  }
}